package-lock.json
node_modules/
.*.swp
*.swp

ntl-server/build/
ntl-server/DerivedData/
ntl-server/xcuserdata/
ntl-server/.moved-aside
ntl-server/.xccheckout
ntl-server/.xcscmblueprint
ntl-server/.DS_Store
ntl-server/.hmap
ntl-server/.ipa
ntl-server/.dSYM.zip
ntl-server/.dSYM
ntl-server/.build/
ntl-server/.swiftpm/
